/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
header {
  padding: 25px;
}
.header-wrapper {
  width: 75%;
  margin: 0;
  margin: 0 auto;
}
.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-bars {
  display: none;
}
header img {
  width: 64px;
}
header nav a {
  font-weight: 400;
  margin-left: 40px;
  color: #1f1534;
  opacity: 0.5;
  text-decoration: none;
  transition: 1s;
}
header nav a:hover {
  color: #000;
  opacity: 1;
}
header nav a:first-child {
  margin-left: 0px;
}

.home-wrapper {
  width: 70%;
  margin: 0 auto;
}
.inner {
  padding: 25px 0;
}
.home-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#home img {
  max-width: 70%;
}
.home-details {
  width: 500px;
  font-size: 21px;
  font-weight: 300;
  color: #7d7987;
}
.home-text {
  max-width: 100%;
}
#home h1 {
  font-size: 48px;
}
.home-btn {
  width: 200px;
  height: 56px;
  border-radius: 55px;
  background: #f64545;
  color: #fff;
  border: none;
  font-size: 18px;
  font-size: 18px;
  transition: 1s;
}
.home-btn:hover {
  background: #aa2020;
}
#servis {
  margin: 150px 0;
  background: url(../images/services-bg.png);
  background-size: 85% 85%;
  background-position: 0 35px;
  background-repeat: no-repeat;
}
.servis-wrapper {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.servis-text p {
  width: 75%;
  margin: 0 auto;
  color: #7d7987;
}
.servis-text h1 {
  font-size: 36px;
}
.servis-text hr {
  width: 56px;
  height: 2px;
  background-color: rgba(0, 0, 0, 1);
  margin: 26px auto 33px;
}
.cards-row {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.servis-cards .card {
  text-align: left;
  background: #fff;
  width: 238px;
  padding: 25px;
  -webkit-box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-bottom: 25px;
}
.card p {
  color: rgba(125, 121, 135, 1);
  line-height: 1.5;
}
.card img {
  width: 67.3px;
  margin-bottom: 10px;
}
.button {
  text-align: center;
  margin-top: 36px;
  border: 1.5px solid #f64545;
  width: 200px;
  height: 56px;
  background: rgba(0, 0, 0, 0);
  border-radius: 55px;
  color: #f64545;
  font-weight: 700;
  font-size: 18px;
  transition: 1s;
}
.button:hover {
  background: #aa2020;

  color: #fff;
}

.hidden {
  display: none;
}

.projects-wrapper {
  width: 70%;
  margin: 0 auto;
}

.project-text h1 {
  font-size: 36px;
}
.project-text hr {
  width: 56px;
  height: 2px;
  background-color: rgba(0, 0, 0, 1);
  margin: 26px 0 31px;
}
.project img {
  width: 650px;
}
.project-text {
  margin-left: 10%;
  margin-right: 10%;
  width: 40%;
}
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 150px;
}
.project-text p {
  font-size: 21px;
  color: #7d7987;
  font-weight: 300;
}
#news {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../images/bg.jpg);
  background-size: cover;

  background-repeat: no-repeat;
}
#inner {
  padding: 100px 0;
}
.news-wrapper {
  width: 60%;
  margin: 0 auto;
}
.news-text {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.news-text h1 {
  margin: 0;
  color: #fff;
}
.news-text hr {
  width: 56px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 26px auto 33px;
}
.news-cards {
  text-align: center;
}
.news-cards .card {
  text-align: left;
  background: #fff;
  width: 350px;
  overflow: hidden;
  -webkit-box-shadow: 10px 40px 50px 0px rgba(194, 194, 194, 0.4);
  box-shadow: 10px 40px 50px 0px rgba(194, 194, 194, 0.4);
  border-radius: 20px;
  margin-bottom: 25px;
}
.news-cards .card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0;
}
.card-text {
  padding: 0 25px 30px 25px;
}
.news-cards a {
  color: #4089ed;
  text-decoration: none;
}
.news-cards .button {
  text-align: center;
}

.video-wrapper {
  width: 60%;
  margin: 0 auto;
}

.video-container {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.75)),
      to(rgba(0, 0, 0, 0.75))
    ),
    url(../images/видео.jpg);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/видео.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/видео.jpg);
  background-size: cover;
  border-radius: 24px;
  width: 100%;
  height: 454px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-element {
  margin: 0 auto;
  padding: 50px;
}
.video-description {
  text-align: center;
  color: #fff;
}
.video-description h1 {
  position: relative;
  bottom: 75px;
  font-size: 36px;
}
.play-button {
  display: inline-block;
  border: 1px solid #fff;
  padding: 20px 100px 20px 40px;
  border-radius: 200px;
  transition: 1s;
}
.play-button > * {
  display: inline-block;
  vertical-align: middle;
}
.play-button img {
  margin-right: 20px;
  width: 60px;
}
.play-button p {
  font-size: 16px;
}
.play-button:hover {
  transform: scale(1.05);
}
.points-container {
  position: relative;
  top: 50px;
  right: 50px;
}
.points-container img {
  position: absolute;
  width: 130px;
}
.bottom-points {
  top: 100px;
}
.top-points {
  top: -250px;
  right: 75px;
}
.contact-wrapper {
  margin: 0 auto;
  width: 60%;
}
.contact-text {
  text-align: center;
}
.contact-text p {
  color: #7d7987;
}
.contact-text h1 {
  font-size: 21px;
}
.contact-form {
  margin: 50px 0;
}
.contact-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 20px 0 rgba(153, 153, 153, 0.8);
  box-shadow: 0 0 20px 0 rgba(153, 153, 153, 0.8);
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}
.contact-container > * {
  padding: 20px;
}
.input-container,
.input-container input {
  border: none;
  outline: none;
}
.input-btn {
  background: #ff4949;
  width: 35%;
  text-align: center;
  color: #fff;
}
.input-container {
  width: 60%;
}
.input-container input {
  width: 100%;
}
.footer-container {
  background: rgb(255, 54, 54);
  background: linear-gradient(
    140deg,
    rgb(255, 67, 67) 0%,
    rgb(151, 26, 26) 100%
  );
}
.footer-wrapper {
  padding: 50px 0;
  width: 75%;
  margin: 0 auto;
}
.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.description {
  width: 30%;
}
.description img {
  margin-bottom: 0px;
  width: 100px;
}
.description p {
  margin: 0;
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}
ul {
  list-style: none;
  padding-left: 0;
}

.links {
  width: 10%;
}
.links h1 {
  color: #fff;
  font-size: 24px;
  margin: 15px 0 30px;
}
li {
  font-size: 18px;
  margin-bottom: 15px;
}
li a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.modal-canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.55)),
    to(rgba(0, 0, 0, 0.55))
  );
  background: -o-linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
}

.modal {
  color: #fff;
  padding: 25px;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}

.modal-close {
  cursor: pointer;
  text-align: right;
}

.video-container {
  margin-top: 7%;
}
button,
.input-btn,
.play-button {
  cursor: pointer;
}
@media (max-width: 720px) {
  nav {
    display: none;
  }
  .home-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .home-text {
    text-align: center;
  }
  .home-text p {
    font-size: 12px;
    width: 50%;
  }
  .cards-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit--pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .video-description h1 {
    bottom: 50px;
  }
  .play-button {
    padding: 20px 30px 20px 30px;
  }
  .play-button img {
    margin-right: 10px;
  }
  .video-element {
    padding: 0;
  }
  .video-wrapper {
    width: 80%;
  }
  .contact-wrapper {
    width: 80%;
  }
  .servis-wrapper {
    width: 80%;
  }
  .news-wrapper {
    width: 80%;
  }
  .card {
    max-width: 100%;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .project-text {
    width: 100%;
  }
  .project img {
    width: 100%;
  }
  .contact-container {
    width: 100%;
  }
  .links {
    display: none;
  }
  .description {
    width: 100%;
  }
  .header-bars {
    display: block;
  }
} ;
